fastapi
uvicorn
python-dotenv
langchain==0.2.17
openai
serpapi
python-multipart
langchain-community==0.2.19
langchain-openai==0.1.25
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
redis
celery
chromadb
faiss-cpu
python-docx
python-pptx
pypdf
pytesseract
email-validator
psutil
pinecone-client
boto3
psycopg2-binary
langchain-core==0.2.43
langchain-text-splitters==0.2.4