fastapi
uvicorn
python-dotenv
langchain
openai
serpapi
python-multipart
langchain_community
langchain-openai
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
redis
celery
chromadb
faiss-cpu
python-docx
python-pptx
pypdf
tesseract-ocr