fastapi
uvicorn
python-dotenv
langchain
openai
serpapi
python-multipart
langchain_community
langchain-openai
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
redis
celery
chromadb
faiss-cpu
python-docx
python-pptx
pypdf
pytesseract
email-validator
psutil
pinecone-client
boto3
psycopg2-binary
langchain-core
langchain-text-splitters